<!DOCTYPE html>

<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">

      {% if contacts is empty %}
        <div class="col-md-12">
          <h1>Welcome to your address book!</h1>

          <p class="lead">When you fill out the form, your contacts will be show below just like the example!</p>

          <hr>

          <h3>Contact Name</h3>

          <p>
            Phone: (555)-555-5555
          </p>

          <p>
            Address: 1234 Example Lane, Portland, OR
          </p>
        </div>

      {% else %}

        {% if error is not empty %}

          <div class="error_heading">
            <h3 class="error">One or more of your inputs are missing!</h3>
          </div>

        {% endif %}

        <div class="col-md-12">
          <h1>Address Book</h1>

          <p class="lead">
            A Simple place to store all your contacts!
          </p>

          <div class="col-md-12">
            <form action="/" method="post">
              <div class="form-group">
                <label for="name">Enter contact name</label>
                <input type="text" name="name" id="name" class="form-control">
                <label for="phone">Enter contact phone</label>
                <input type="tel" name="phone" id="phone" class="form-control">
                <label for="address">Enter contact address</label>
                <input type="text" name="address" id="address" class="form-control">

                <button type="submit" class="btn-success">Add Contact</button>
              </div>
            </form>

          {% for contact in contacts %}

          <div class="col-md-6">

            <h3>{{contact.getName()}}</h3>

            <p>
              Phone: {{contact.getPhone()}}
            </p>

            <p>
              Address: {{contact.getAddress()}}
            </p>

            <form action="/delete" method="post">
              <div class="form-group">
                <input type="hidden" name="name" value="{{contact.getName()}}">
                <input type="hidden" name="address" value="{{contact.getAddress()}}">
                <input type="hidden" name="phone" value="{{contact.getPhone()}}">
                <button name="button" value="homepage" type="submit">Delete</button>
              </div>
            </form>

          </div>

          {% endfor %}

        </div>

      {% endif %}

      </div>
    </div>
  </body>
</html>
